

.ts {
  min-width: 100%;
}


.acc > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}


.ach > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-divide-opacity));
}

.asa {
  padding-top: .875rem;
  padding-bottom: .875rem;
}

.atn {
  padding-left: 1rem;
}

.auc {
  padding-right: .75rem;
}


.avk {
  text-align: left;
}


.awa {
  font-size: .875rem;
  line-height: 1.25rem;
}

.awg {
  font-weight: 600;
}


.axv {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.cgi {
  padding-left: 0;
}

.arf {
  padding-left: .75rem;
  padding-right: .75rem;
}

.asc {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.awa {
  font-size: .875rem;
  line-height: 1.25rem;
}

.axr {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}



/* 
.aaa {
  -moz-column-gap: 3.5rem;
       column-gap: 3.5rem;
}

.aab {
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}

.aac {
  -moz-column-gap: .5rem;
       column-gap: .5rem;
}

.aad {
  -moz-column-gap: .625rem;
       column-gap: .625rem;
}

.aae {
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}

.aaf {
  -moz-column-gap: .75rem;
       column-gap: .75rem;
}

.aag {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.aah {
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}

.aai {
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}

.aaj {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.aak {
  row-gap: .25rem;
}

.aal {
  row-gap: 2.5rem;
}

.aam {
  row-gap: 3rem;
}

.aan {
  row-gap: 3.5rem;
}

.aao {
  row-gap: 4rem;
}

.aap {
  row-gap: .5rem;
}

.aaq {
  row-gap: 5rem;
}

.aar {
  row-gap: .75rem;
}

.aas {
  row-gap: 1rem;
}

.aat {
  row-gap: 1.25rem;
}

.aau {
  row-gap: 1.5rem;
}

.aav {
  row-gap: 1.75rem;
}

.aaw {
  row-gap: 2rem;
}

.aax > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(-0px * var(--tw-space-x-reverse));
  margin-left: calc(-0px * calc(1 - var(--tw-space-x-reverse)));
}

.aay > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(-.125rem * var(--tw-space-x-reverse));
  margin-left: calc(-.125rem * calc(1 - var(--tw-space-x-reverse)));
}

.aaz > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(-.25rem * var(--tw-space-x-reverse));
  margin-left: calc(-.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.aba > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(-.5rem * var(--tw-space-x-reverse));
  margin-left: calc(-.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.abb > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(-1px * var(--tw-space-x-reverse));
  margin-left: calc(-1px * calc(1 - var(--tw-space-x-reverse)));
}

.abc > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(-1px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(-1px * var(--tw-space-y-reverse));
}

.abd > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(.25rem * var(--tw-space-x-reverse));
  margin-left: calc(.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.abe > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(2.5rem * var(--tw-space-x-reverse));
  margin-left: calc(2.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.abf > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(3rem * var(--tw-space-x-reverse));
  margin-left: calc(3rem * calc(1 - var(--tw-space-x-reverse)));
}

.abg > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(.5rem * var(--tw-space-x-reverse));
  margin-left: calc(.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.abh > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(.625rem * var(--tw-space-x-reverse));
  margin-left: calc(.625rem * calc(1 - var(--tw-space-x-reverse)));
}

.abi > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(.75rem * var(--tw-space-x-reverse));
  margin-left: calc(.75rem * calc(1 - var(--tw-space-x-reverse)));
}

.abj > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.abk > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.25rem * var(--tw-space-x-reverse));
  margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.abl > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.5rem * var(--tw-space-x-reverse));
  margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.abm > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.75rem * var(--tw-space-x-reverse));
  margin-left: calc(1.75rem * calc(1 - var(--tw-space-x-reverse)));
}

.abn > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(2rem * var(--tw-space-x-reverse));
  margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
}

.abo > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(.25rem * var(--tw-space-y-reverse));
}

.abp > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
}

.abq > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3rem * var(--tw-space-y-reverse));
}

.abr > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(4rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(4rem * var(--tw-space-y-reverse));
}

.abs > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(.5rem * var(--tw-space-y-reverse));
}

.abt > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(5rem * var(--tw-space-y-reverse));
}

.abu > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(6rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(6rem * var(--tw-space-y-reverse));
}

.abv > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(.75rem * var(--tw-space-y-reverse));
}

.abw > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.abx > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}

.aby > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.abz > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.aca > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 1;
}

.acb > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-x-reverse: 0;
  border-right-width: calc(1px * var(--tw-divide-x-reverse));
  border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
}


.acd > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(2px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(2px * var(--tw-divide-y-reverse));
}

.ace > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(21 94 117 / var(--tw-divide-opacity));
}

.acf > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-divide-opacity));
}

.acg > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-divide-opacity));
}

.ach > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-divide-opacity));
}

.aci > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(249 250 251 / var(--tw-divide-opacity));
}

.acj > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-divide-opacity));
}

.ack > :not([hidden]) ~ :not([hidden]) {
  border-color: #6b72801a;
}

.acl > :not([hidden]) ~ :not([hidden]) {
  border-color: #6b728040;
}

.acm > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-divide-opacity));
}

.acn > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(31 41 55 / var(--tw-divide-opacity));
}

.aco > :not([hidden]) ~ :not([hidden]) {
  border-color: #1118271a;
}

.acp > :not([hidden]) ~ :not([hidden]) {
  border-color: #1118270d;
}

.acq > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(99 102 241 / var(--tw-divide-opacity));
}

.acr > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(67 56 202 / var(--tw-divide-opacity));
}

.acs > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(147 51 234 / var(--tw-divide-opacity));
}

.act > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-divide-opacity));
}

.acu > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(231 229 228 / var(--tw-divide-opacity));
}

.acv > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-divide-opacity));
}

.acw > :not([hidden]) ~ :not([hidden]) {
  border-color: #ffffff1a;
}

.acx > :not([hidden]) ~ :not([hidden]) {
  border-color: #ffffff0d;
}

.acy > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: .1;
}

.acz > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: .2;
}

.ada > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: .75;
}

.adb {
  align-self: flex-start;
}

.adc {
  align-self: flex-end;
}

.add {
  align-self: center;
}

.ade {
  align-self: stretch;
}

.adf {
  overflow: auto;
}

.adg {
  overflow: hidden;
}

.adh {
  overflow: visible;
}

.adi {
  overflow-x: auto;
}

.adj {
  overflow-y: auto;
}

.adk {
  overflow-y: scroll;
}

.adl {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.adm {
  white-space: nowrap;
}

.adn {
  white-space: pre;
}

.ado {
  white-space: pre-wrap;
}

.adp {
  border-radius: .25rem;
}

.adq {
  border-radius: 1rem;
}

.adr {
  border-radius: 1.5rem;
}

.ads {
  border-radius: 9999px;
}

.adt {
  border-radius: .5rem;
}

.adu {
  border-radius: .375rem;
}

.adv {
  border-radius: 0;
}

.adw {
  border-radius: .125rem;
}

.adx {
  border-radius: .75rem;
}

.ady {
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

.adz {
  border-bottom-right-radius: .375rem;
  border-bottom-left-radius: .375rem;
}

.aea {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.aeb {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.aec {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

.aed {
  border-top-left-radius: .375rem;
  border-bottom-left-radius: .375rem;
}

.aee {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.aef {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.aeg {
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.aeh {
  border-top-right-radius: .375rem;
  border-bottom-right-radius: .375rem;
}

.aei {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.aej {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.aek {
  border-top-left-radius: .375rem;
  border-top-right-radius: .375rem;
}

.ael {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.aem {
  border-top-left-radius: .75rem;
  border-top-right-radius: .75rem;
}

.aen {
  border-bottom-left-radius: 1rem;
}

.aeo {
  border-bottom-left-radius: .5rem;
}

.aep {
  border-bottom-left-radius: .375rem;
}

.aeq {
  border-bottom-right-radius: 1rem;
}

.aer {
  border-bottom-right-radius: .5rem;
}

.aes {
  border-bottom-right-radius: .375rem;
}

.aet {
  border-top-left-radius: .25rem;
}

.aeu {
  border-top-left-radius: .5rem;
}

.aev {
  border-top-left-radius: .375rem;
}

.aew {
  border-top-left-radius: .75rem;
}

.aex {
  border-top-right-radius: .5rem;
}

.aey {
  border-top-right-radius: .375rem;
}

.aez {
  border-width: 1px;
}

.afa {
  border-width: 0;
}

.afb {
  border-width: 2px;
}

.afc {
  border-width: 4px;
}

.afd {
  border-left-width: 1px;
  border-right-width: 1px;
}

.afe {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.aff {
  border-bottom-width: 1px;
}

.afg {
  border-bottom-width: 0;
}

.afh {
  border-bottom-width: 2px;
}

.afi {
  border-left-width: 1px;
}

.afj {
  border-left-width: 4px;
}

.afk {
  border-right-width: 1px;
}

.afl {
  border-right-width: 0;
}

.afm {
  border-top-width: 1px;
}

.afn {
  border-top-width: 0;
}

.afo {
  border-top-width: 2px;
}

.afp {
  border-style: dashed;
}

.afq {
  border-style: none;
}

.afr {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.afs {
  --tw-border-opacity: 1;
  border-color: rgb(96 165 250 / var(--tw-border-opacity));
}

.aft {
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity));
}

.afu {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.afv {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.afw {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity));
}

.afx {
  border-color: #4b55631a;
}

.afy {
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity));
}

.afz {
  --tw-border-opacity: 1;
  border-color: rgb(31 41 55 / var(--tw-border-opacity));
}

.aga {
  border-color: #1118271a;
}

.agb {
  border-color: #11182740;
}

.agc {
  border-color: #1118270d;
}

.agd {
  --tw-border-opacity: 1;
  border-color: rgb(199 210 254 / var(--tw-border-opacity));
}

.age {
  --tw-border-opacity: 1;
  border-color: rgb(165 180 252 / var(--tw-border-opacity));
}

.agf {
  --tw-border-opacity: 1;
  border-color: rgb(129 140 248 / var(--tw-border-opacity));
}

.agg {
  --tw-border-opacity: 1;
  border-color: rgb(99 102 241 / var(--tw-border-opacity));
}

.agh {
  --tw-border-opacity: 1;
  border-color: rgb(79 70 229 / var(--tw-border-opacity));
}

.agi {
  --tw-border-opacity: 1;
  border-color: rgb(67 56 202 / var(--tw-border-opacity));
}

.agj {
  --tw-border-opacity: 1;
  border-color: rgb(55 48 163 / var(--tw-border-opacity));
}

.agk {
  --tw-border-opacity: 1;
  border-color: rgb(49 46 129 / var(--tw-border-opacity));
}

.agl {
  --tw-border-opacity: 1;
  border-color: rgb(254 215 170 / var(--tw-border-opacity));
}

.agm {
  --tw-border-opacity: 1;
  border-color: rgb(236 72 153 / var(--tw-border-opacity));
}

.agn {
  --tw-border-opacity: 1;
  border-color: rgb(168 85 247 / var(--tw-border-opacity));
}

.ago {
  --tw-border-opacity: 1;
  border-color: rgb(147 51 234 / var(--tw-border-opacity));
}

.agp {
  --tw-border-opacity: 1;
  border-color: rgb(186 230 253 / var(--tw-border-opacity));
}

.agq {
  --tw-border-opacity: 1;
  border-color: rgb(14 165 233 / var(--tw-border-opacity));
}

.agr {
  --tw-border-opacity: 1;
  border-color: rgb(7 89 133 / var(--tw-border-opacity));
}

.ags {
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity));
}

.agt {
  --tw-border-opacity: 1;
  border-color: rgb(203 213 225 / var(--tw-border-opacity));
}

.agu {
  --tw-border-opacity: 1;
  border-color: rgb(231 229 228 / var(--tw-border-opacity));
}

.agv {
  --tw-border-opacity: 1;
  border-color: rgb(214 211 209 / var(--tw-border-opacity));
}

.agw {
  --tw-border-opacity: 1;
  border-color: rgb(68 64 60 / var(--tw-border-opacity));
}

.agx {
  --tw-border-opacity: 1;
  border-color: rgb(20 184 166 / var(--tw-border-opacity));
}

.agy {
  border-color: #0000;
}

.agz {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.aha {
  border-color: #ffffff1a;
}

.ahb {
  border-color: #fff3;
}

.ahc {
  border-color: #ffffff40;
}

.ahd {
  border-color: #ffffff0d;
}

.ahe {
  --tw-border-opacity: 1;
  border-color: rgb(250 204 21 / var(--tw-border-opacity));
}

.ahf {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.ahg {
  border-bottom-color: #1118271a;
}

.ahh {
  border-bottom-color: #fff3;
}

.ahi {
  border-right-color: #ffffff1a;
}

.ahj {
  --tw-border-opacity: 1;
  border-top-color: rgb(243 244 246 / var(--tw-border-opacity));
}

.ahk {
  --tw-border-opacity: .1;
}

.ahl {
  --tw-border-opacity: .2;
}

.ahm {
  --tw-border-opacity: .25;
}

.ahn {
  --tw-bg-opacity: 1;
  background-color: rgb(29 155 240 / var(--tw-bg-opacity));
}

.aho {
  --tw-bg-opacity: 1;
  background-color: rgb(36 41 47 / var(--tw-bg-opacity));
}

.ahp {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.ahq {
  background-color: #0000001a;
}

.ahr {
  --tw-bg-opacity: 1;
  background-color: rgb(219 234 254 / var(--tw-bg-opacity));
}

.ahs {
  background-color: #60a5fa1a;
}

.aht {
  --tw-bg-opacity: 1;
  background-color: rgb(239 246 255 / var(--tw-bg-opacity));
}

.ahu {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.ahv {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.ahw {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity));
}

.ahx {
  --tw-bg-opacity: 1;
  background-color: rgb(30 58 138 / var(--tw-bg-opacity));
}

.ahy {
  background-color: currentColor;
}

.ahz {
  --tw-bg-opacity: 1;
  background-color: rgb(207 250 254 / var(--tw-bg-opacity));
}

.aia {
  --tw-bg-opacity: 1;
  background-color: rgb(34 211 238 / var(--tw-bg-opacity));
}

.aib {
  --tw-bg-opacity: 1;
  background-color: rgb(236 254 255 / var(--tw-bg-opacity));
}

.aic {
  --tw-bg-opacity: 1;
  background-color: rgb(6 182 212 / var(--tw-bg-opacity));
}

.aid {
  --tw-bg-opacity: 1;
  background-color: rgb(8 145 178 / var(--tw-bg-opacity));
}

.aie {
  --tw-bg-opacity: 1;
  background-color: rgb(14 116 144 / var(--tw-bg-opacity));
}

.aif {
  --tw-bg-opacity: 1;
  background-color: rgb(21 94 117 / var(--tw-bg-opacity));
}

.aig {
  --tw-bg-opacity: 1;
  background-color: rgb(16 185 129 / var(--tw-bg-opacity));
}

.aih {
  background-color: #10b98133;
}

.aii {
  --tw-bg-opacity: 1;
  background-color: rgb(217 70 239 / var(--tw-bg-opacity));
}

.aij {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.aik {
  background-color: #f3f4f61a;
}

.ail {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.aim {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}

.ain {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity));
}

.aio {
  background-color: #9ca3af1a;
}

.aip {
  background-color: #9ca3af0d;
}

.aiq {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

.air {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}

.ais {
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity));
}

.ait {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.aiu {
  background-color: #3741511a;
}

.aiv {
  background-color: #37415166;
}

.aiw {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.aix {
  background-color: #1f293766;
}

.aiy {
  background-color: #1f2937cc;
}

.aiz {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.aja {
  background-color: #1118271a;
}

.ajb {
  background-color: #1118270d;
}

.ajc {
  background-color: #111827cc;
}

.ajd {
  background-color: #111827e6;
}

.aje {
  --tw-bg-opacity: 1;
  background-color: rgb(220 252 231 / var(--tw-bg-opacity));
}

.ajf {
  --tw-bg-opacity: 1;
  background-color: rgb(74 222 128 / var(--tw-bg-opacity));
}

.ajg {
  background-color: #4ade801a;
}

.ajh {
  --tw-bg-opacity: 1;
  background-color: rgb(240 253 244 / var(--tw-bg-opacity));
}

.aji {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity));
}

.ajj {
  background-color: #22c55e1a;
}

.ajk {
  --tw-bg-opacity: 1;
  background-color: rgb(224 231 255 / var(--tw-bg-opacity));
}

.ajl {
  --tw-bg-opacity: 1;
  background-color: rgb(199 210 254 / var(--tw-bg-opacity));
}

.ajm {
  --tw-bg-opacity: 1;
  background-color: rgb(129 140 248 / var(--tw-bg-opacity));
}

.ajn {
  background-color: #818cf81a;
}

.ajo {
  --tw-bg-opacity: 1;
  background-color: rgb(238 242 255 / var(--tw-bg-opacity));
}

.ajp {
  --tw-bg-opacity: 1;
  background-color: rgb(99 102 241 / var(--tw-bg-opacity));
}

.ajq {
  background-color: #6366f11a;
}

.ajr {
  --tw-bg-opacity: 1;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity));
}

.ajs {
  background-color: #4f46e51a;
}

.ajt {
  --tw-bg-opacity: 1;
  background-color: rgb(67 56 202 / var(--tw-bg-opacity));
}

.aju {
  --tw-bg-opacity: 1;
  background-color: rgb(55 48 163 / var(--tw-bg-opacity));
}

.ajv {
  --tw-bg-opacity: 1;
  background-color: rgb(49 46 129 / var(--tw-bg-opacity));
}

.ajw {
  --tw-bg-opacity: 1;
  background-color: rgb(255 237 213 / var(--tw-bg-opacity));
}

.ajx {
  --tw-bg-opacity: 1;
  background-color: rgb(255 247 237 / var(--tw-bg-opacity));
}

.ajy {
  --tw-bg-opacity: 1;
  background-color: rgb(249 115 22 / var(--tw-bg-opacity));
}

.ajz {
  --tw-bg-opacity: 1;
  background-color: rgb(252 231 243 / var(--tw-bg-opacity));
}

.aka {
  --tw-bg-opacity: 1;
  background-color: rgb(244 114 182 / var(--tw-bg-opacity));
}

.akb {
  background-color: #f472b61a;
}

.akc {
  --tw-bg-opacity: 1;
  background-color: rgb(253 242 248 / var(--tw-bg-opacity));
}

.akd {
  --tw-bg-opacity: 1;
  background-color: rgb(236 72 153 / var(--tw-bg-opacity));
}

.ake {
  --tw-bg-opacity: 1;
  background-color: rgb(219 39 119 / var(--tw-bg-opacity));
}

.akf {
  --tw-bg-opacity: 1;
  background-color: rgb(243 232 255 / var(--tw-bg-opacity));
}

.akg {
  --tw-bg-opacity: 1;
  background-color: rgb(192 132 252 / var(--tw-bg-opacity));
}

.akh {
  background-color: #c084fc1a;
}

.aki {
  --tw-bg-opacity: 1;
  background-color: rgb(250 245 255 / var(--tw-bg-opacity));
}

.akj {
  --tw-bg-opacity: 1;
  background-color: rgb(168 85 247 / var(--tw-bg-opacity));
}

.akk {
  --tw-bg-opacity: 1;
  background-color: rgb(147 51 234 / var(--tw-bg-opacity));
}

.akl {
  --tw-bg-opacity: 1;
  background-color: rgb(254 226 226 / var(--tw-bg-opacity));
}

.akm {
  --tw-bg-opacity: 1;
  background-color: rgb(248 113 113 / var(--tw-bg-opacity));
}

.akn {
  background-color: #f871711a;
}

.ako {
  --tw-bg-opacity: 1;
  background-color: rgb(254 242 242 / var(--tw-bg-opacity));
}

.akp {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}

.akq {
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity));
}

.akr {
  background-color: #fb71851a;
}

.aks {
  --tw-bg-opacity: 1;
  background-color: rgb(255 241 242 / var(--tw-bg-opacity));
}

.akt {
  --tw-bg-opacity: 1;
  background-color: rgb(244 63 94 / var(--tw-bg-opacity));
}

.aku {
  --tw-bg-opacity: 1;
  background-color: rgb(225 29 72 / var(--tw-bg-opacity));
}

.akv {
  --tw-bg-opacity: 1;
  background-color: rgb(56 189 248 / var(--tw-bg-opacity));
}

.akw {
  --tw-bg-opacity: 1;
  background-color: rgb(240 249 255 / var(--tw-bg-opacity));
}

.akx {
  --tw-bg-opacity: 1;
  background-color: rgb(14 165 233 / var(--tw-bg-opacity));
}

.aky {
  --tw-bg-opacity: 1;
  background-color: rgb(2 132 199 / var(--tw-bg-opacity));
}

.akz {
  --tw-bg-opacity: 1;
  background-color: rgb(3 105 161 / var(--tw-bg-opacity));
}

.ala {
  background-color: #0369a180;
}

.alb {
  --tw-bg-opacity: 1;
  background-color: rgb(7 89 133 / var(--tw-bg-opacity));
}

.alc {
  --tw-bg-opacity: 1;
  background-color: rgb(12 74 110 / var(--tw-bg-opacity));
}

.ald {
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity));
}

.ale {
  --tw-bg-opacity: 1;
  background-color: rgb(71 85 105 / var(--tw-bg-opacity));
}

.alf {
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
}

.alg {
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}

.alh {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 244 / var(--tw-bg-opacity));
}

.ali {
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 249 / var(--tw-bg-opacity));
}

.alj {
  --tw-bg-opacity: 1;
  background-color: rgb(28 25 23 / var(--tw-bg-opacity));
}

.alk {
  --tw-bg-opacity: 1;
  background-color: rgb(240 253 250 / var(--tw-bg-opacity));
}

.all {
  --tw-bg-opacity: 1;
  background-color: rgb(20 184 166 / var(--tw-bg-opacity));
}

.alm {
  background-color: #0000;
}

.aln {
  --tw-bg-opacity: 1;
  background-color: rgb(139 92 246 / var(--tw-bg-opacity));
}

.alo {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.alp {
  background-color: #ffffff1a;
}

.alq {
  background-color: #fff3;
}

.alr {
  background-color: #ffffff0d;
}

.als {
  background-color: #fff9;
}

.alt {
  --tw-bg-opacity: 1;
  background-color: rgb(254 249 195 / var(--tw-bg-opacity));
}

.alu {
  --tw-bg-opacity: 1;
  background-color: rgb(250 204 21 / var(--tw-bg-opacity));
}

.alv {
  background-color: #facc151a;
}

.alw {
  --tw-bg-opacity: 1;
  background-color: rgb(254 252 232 / var(--tw-bg-opacity));
}

.alx {
  --tw-bg-opacity: 1;
  background-color: rgb(234 179 8 / var(--tw-bg-opacity));
}

.aly {
  --tw-bg-opacity: 0;
}

.alz {
  --tw-bg-opacity: .1;
}

.ama {
  --tw-bg-opacity: .25;
}

.amb {
  --tw-bg-opacity: .4;
}

.amc {
  --tw-bg-opacity: .05;
}

.amd {
  --tw-bg-opacity: .5;
}

.ame {
  --tw-bg-opacity: .6;
}

.amf {
  --tw-bg-opacity: .75;
}

.amg {
  --tw-bg-opacity: .8;
}

.amh {
  --tw-bg-opacity: .9;
}

.ami {
  background-image: radial-gradient(45rem 50rem at top, #e0e7ff, #fff);
}

.amj {
  background-image: radial-gradient(50% 100% at top, #e0e7ff, #fff);
}

.amk {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.aml {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}

.amm {
  background-image: linear-gradient(to left, var(--tw-gradient-stops));
}

.amn {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.amo {
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}

.amp {
  background-image: linear-gradient(to top right, var(--tw-gradient-stops));
}

.amq {
  background-image: none;
}

.amr {
  --tw-gradient-from: #80caff var(--tw-gradient-from-position);
  --tw-gradient-to: #80caff00 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.ams {
  --tw-gradient-from: #ff80b5 var(--tw-gradient-from-position);
  --tw-gradient-to: #ff80b500 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.amt {
  --tw-gradient-from: #ff4694 var(--tw-gradient-from-position);
  --tw-gradient-to: #ff469400 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.amu {
  --tw-gradient-from: #ff80b5 var(--tw-gradient-from-position);
  --tw-gradient-to: #ff80b500 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.amv {
  --tw-gradient-from: #000 var(--tw-gradient-from-position);
  --tw-gradient-to: #0000 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.amw {
  --tw-gradient-from: #eff6ff var(--tw-gradient-from-position);
  --tw-gradient-to: #eff6ff00 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.amx {
  --tw-gradient-from: #0891b2 var(--tw-gradient-from-position);
  --tw-gradient-to: #0891b200 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.amy {
  --tw-gradient-from: #f3f4f6 var(--tw-gradient-from-position);
  --tw-gradient-to: #f3f4f600 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.amz {
  --tw-gradient-from: #1f2937 var(--tw-gradient-from-position);
  --tw-gradient-to: #1f293700 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.ana {
  --tw-gradient-from: #111827 var(--tw-gradient-from-position);
  --tw-gradient-to: #11182700 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.anb {
  --tw-gradient-from: #e0e7ff33 var(--tw-gradient-from-position);
  --tw-gradient-to: #e0e7ff00 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.anc {
  --tw-gradient-from: #fb923c var(--tw-gradient-from-position);
  --tw-gradient-to: #fb923c00 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.and {
  --tw-gradient-from: #f97316 var(--tw-gradient-from-position);
  --tw-gradient-to: #f9731600 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.ane {
  --tw-gradient-from: #d8b4fe var(--tw-gradient-from-position);
  --tw-gradient-to: #d8b4fe00 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.anf {
  --tw-gradient-from: #9333ea var(--tw-gradient-from-position);
  --tw-gradient-to: #9333ea00 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.ang {
  --tw-gradient-from: #6b21a8 var(--tw-gradient-from-position);
  --tw-gradient-to: #6b21a800 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.anh {
  --tw-gradient-from: #e11d48 var(--tw-gradient-from-position);
  --tw-gradient-to: #e11d4800 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.ani {
  --tw-gradient-from: #075985 var(--tw-gradient-from-position);
  --tw-gradient-to: #07598500 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.anj {
  --tw-gradient-from: #99f6e4 var(--tw-gradient-from-position);
  --tw-gradient-to: #99f6e400 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.ank {
  --tw-gradient-from: #14b8a6 var(--tw-gradient-from-position);
  --tw-gradient-to: #14b8a600 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.anl {
  --tw-gradient-from: transparent var(--tw-gradient-from-position);
  --tw-gradient-to: #0000 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.anm {
  --tw-gradient-from: #fff var(--tw-gradient-from-position);
  --tw-gradient-to: #fff0 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.ann {
  --tw-gradient-to: #11182700 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #11182766 var(--tw-gradient-via-position), var(--tw-gradient-to);
}

.ano {
  --tw-gradient-to: #e11d4800 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #e11d48 var(--tw-gradient-via-position), var(--tw-gradient-to);
}

.anp {
  --tw-gradient-to: #fff0 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #fff var(--tw-gradient-via-position), var(--tw-gradient-to);
}

.anq {
  --tw-gradient-to: #4f46e5 var(--tw-gradient-to-position);
}

.anr {
  --tw-gradient-to: #776fff var(--tw-gradient-to-position);
}

.ans, .ant {
  --tw-gradient-to: #9089fc var(--tw-gradient-to-position);
}

.anu {
  --tw-gradient-to: #000 var(--tw-gradient-to-position);
}

.anv {
  --tw-gradient-to: #22d3ee var(--tw-gradient-to-position);
}

.anw {
  --tw-gradient-to: #0891b2 var(--tw-gradient-to-position);
}

.anx {
  --tw-gradient-to: #0e7490 var(--tw-gradient-to-position);
}

.any {
  --tw-gradient-to: #f9fafb var(--tw-gradient-to-position);
}

.anz {
  --tw-gradient-to: #4ade80 var(--tw-gradient-to-position);
}

.aoa {
  --tw-gradient-to: #a5b4fc var(--tw-gradient-to-position);
}

.aob {
  --tw-gradient-to: #4f46e5 var(--tw-gradient-to-position);
}

.aoc {
  --tw-gradient-to: #4338ca var(--tw-gradient-to-position);
}

.aod {
  --tw-gradient-to: #ec4899 var(--tw-gradient-to-position);
}

.aoe {
  --tw-gradient-to: #0d9488 var(--tw-gradient-to-position);
}

.aof {
  --tw-gradient-to: #fff var(--tw-gradient-to-position);
}

.aog {
  background-size: cover;
}

.aoh {
  -webkit-background-clip: text;
  background-clip: text;
}

.aoi {
  background-position: center;
}

.aoj {
  background-origin: border-box;
}

.aok {
  fill: #60a5fa;
}

.aol {
  fill: #3b82f6;
}

.aom {
  fill: currentColor;
}

.aon {
  fill: #d1d5db;
}

.aoo {
  fill: #9ca3af;
}

.aop {
  fill: #f9fafb;
}

.aoq {
  fill: #1f293733;
}

.aor {
  fill: #111827;
}

.aos {
  fill: #4ade80;
}

.aot {
  fill: #22c55e;
}

.aou {
  fill: #818cf8;
}

.aov {
  fill: #6366f1;
}

.aow {
  fill: #f472b6;
}

.aox {
  fill: #ec4899;
}

.aoy {
  fill: #c084fc;
}

.aoz {
  fill: #a855f7;
}

.apa {
  fill: #f87171;
}

.apb {
  fill: #ef4444;
}

.apc {
  fill: #fff;
}

.apd {
  fill: #ffffff80;
}

.ape {
  fill: #facc15;
}

.apf {
  fill: #eab308;
}

.apg {
  stroke: #1d4ed880;
}

.aph {
  stroke: #1e40af80;
}

.api {
  stroke: #e5e7eb;
}

.apj {
  stroke: #4b556380;
}

.apk {
  stroke: #374151;
}

.apl {
  stroke: #37415180;
}

.apm {
  stroke: #1118271a;
}

.apn {
  stroke: #1118270d;
}

.apo {
  stroke: #15803d80;
}

.app {
  stroke: #16653480;
}

.apq {
  stroke: #4f46e580;
}

.apr {
  stroke: #4338ca80;
}

.aps {
  stroke: #be185d80;
}

.apt {
  stroke: #9d174d80;
}

.apu {
  stroke: #dc262680;
}

.apv {
  stroke: #b91c1c80;
}

.apw {
  stroke: #7c3aed80;
}

.apx {
  stroke: #6d28d980;
}

.apy {
  stroke: #ffffff1a;
}

.apz {
  stroke: #fff3;
}

.aqa {
  stroke: #a1620780;
}

.aqb {
  stroke: #854d0e80;
}

.aqc {
  stroke-width: 2px;
}

.aqd {
  -o-object-fit: contain;
     object-fit: contain;
}

.aqe {
  -o-object-fit: cover;
     object-fit: cover;
}

.aqf {
  -o-object-position: center;
     object-position: center;
}

.aqg {
  -o-object-position: left;
     object-position: left;
}

.aqh {
  -o-object-position: left top;
     object-position: left top;
}

.aqi {
  -o-object-position: right;
     object-position: right;
}

.aqj {
  -o-object-position: top;
     object-position: top;
}

.aqk {
  padding: 0;
}

.aql {
  padding: .125rem;
}

.aqm {
  padding: .25rem;
}

.aqn {
  padding: .375rem;
}

.aqo {
  padding: 2.5rem;
}

.aqp {
  padding: 3rem;
}

.aqq {
  padding: .5rem;
}

.aqr {
  padding: .625rem;
}

.aqs {
  padding: .75rem;
}

.aqt {
  padding: 1rem;
}

.aqu {
  padding: 1.25rem;
}

.aqv {
  padding: 1.5rem;
}

.aqw {
  padding: 2rem;
}

.aqx {
  padding: 1px;
}

.aqy {
  padding-left: 0;
  padding-right: 0;
}

.aqz {
  padding-left: .125rem;
  padding-right: .125rem;
}

.ara {
  padding-left: .25rem;
  padding-right: .25rem;
}

.arb {
  padding-left: .375rem;
  padding-right: .375rem;
}

.arc {
  padding-left: 3rem;
  padding-right: 3rem;
}

.ard {
  padding-left: .5rem;
  padding-right: .5rem;
}

.are {
  padding-left: .625rem;
  padding-right: .625rem;
}

.arf {
  padding-left: .75rem;
  padding-right: .75rem;
}

.arg {
  padding-left: .875rem;
  padding-right: .875rem;
}

.arh {
  padding-left: 9rem;
  padding-right: 9rem;
}

.ari {
  padding-left: 1rem;
  padding-right: 1rem;
}

.arj {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.ark {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.arl {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.arm {
  padding-left: 2rem;
  padding-right: 2rem;
}

.arn {
  padding-top: 0;
  padding-bottom: 0;
}

.aro {
  padding-top: .125rem;
  padding-bottom: .125rem;
}

.arp {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.arq {
  padding-top: .375rem;
  padding-bottom: .375rem;
}

.arr {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.ars {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.art {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.aru {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.arv {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.arw {
  padding-top: .625rem;
  padding-bottom: .625rem;
}

.arx {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.ary {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.arz {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.asa {
  padding-top: .875rem;
  padding-bottom: .875rem;
}

.asb {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.asc {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.asd {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.ase {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.asf {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.asg {
  padding-top: 1px;
  padding-bottom: 1px;
}

.ash {
  padding-bottom: 0;
}

.asi {
  padding-bottom: .25rem;
}

.asj {
  padding-bottom: .375rem;
}

.ask {
  padding-bottom: 2.5rem;
}

.asl {
  padding-bottom: 3rem;
}

.asm {
  padding-bottom: 3.5rem;
}

.asn {
  padding-bottom: 4rem;
}

.aso {
  padding-bottom: .5rem;
}

.asp {
  padding-bottom: 5rem;
}

.asq {
  padding-bottom: 6rem;
}

.asr {
  padding-bottom: .75rem;
}

.ass {
  padding-bottom: 8rem;
}

.ast {
  padding-bottom: 9rem;
}

.asu {
  padding-bottom: 1rem;
}

.asv {
  padding-bottom: 1.25rem;
}

.asw {
  padding-bottom: 1.5rem;
}

.asx {
  padding-bottom: 16rem;
}

.asy {
  padding-bottom: 2rem;
}

.asz {
  padding-bottom: 20rem;
}

.ata {
  padding-bottom: 2.25rem;
}

.atb {
  padding-bottom: 24rem;
}

.atc {
  padding-bottom: 1px;
}

.atd {
  padding-left: 0;
}

.ate {
  padding-left: .25rem;
}

.atf {
  padding-left: .375rem;
}

.atg {
  padding-left: 2.5rem;
}

.ath {
  padding-left: 2.75rem;
}

.ati {
  padding-left: 3rem;
}

.atj {
  padding-left: 4rem;
}

.atk {
  padding-left: .5rem;
}

.atl {
  padding-left: 5rem;
}

.atm {
  padding-left: .75rem;
}

.atn {
  padding-left: 1rem;
}

.ato {
  padding-left: 1.25rem;
}

.atp {
  padding-left: 1.5rem;
}

.atq {
  padding-left: 1.75rem;
}

.atr {
  padding-left: 2rem;
}

.ats {
  padding-left: 2.25rem;
}

.att {
  padding-right: 0;
}

.atu {
  padding-right: .25rem;
}

.atv {
  padding-right: .375rem;
}

.atw {
  padding-right: 2.5rem;
}

.atx {
  padding-right: 3rem;
}

.aty {
  padding-right: 3.5rem;
}

.atz {
  padding-right: 4rem;
}

.aua {
  padding-right: .5rem;
}

.aub {
  padding-right: 5rem;
}

.auc {
  padding-right: .75rem;
}

.aud {
  padding-right: .875rem;
}

.aue {
  padding-right: 1rem;
}

.auf {
  padding-right: 1.25rem;
}

.aug {
  padding-right: 1.5rem;
}

.auh {
  padding-right: 1.75rem;
}

.aui {
  padding-right: 2rem;
}

.auj {
  padding-right: 2.25rem;
}

.auk {
  padding-top: 0;
}

.aul {
  padding-top: .125rem;
}

.aum {
  padding-top: .25rem;
}

.aun {
  padding-top: .375rem;
}

.auo {
  padding-top: 2.5rem;
}

.aup {
  padding-top: 2.75rem;
}

.auq {
  padding-top: 3rem;
}

.aur {
  padding-top: 3.5rem;
}

.aus {
  padding-top: 4rem;
}

.aut {
  padding-top: .5rem;
}

.auu {
  padding-top: .625rem;
}

.auv {
  padding-top: 5rem;
}

.auw {
  padding-top: 6rem;
}

.aux {
  padding-top: .75rem;
}

.auy {
  padding-top: .875rem;
}

.auz {
  padding-top: 8rem;
}

.ava {
  padding-top: 9rem;
}

.avb {
  padding-top: 1rem;
}

.avc {
  padding-top: 12rem;
}

.avd {
  padding-top: 1.25rem;
}

.ave {
  padding-top: 1.5rem;
}

.avf {
  padding-top: 16rem;
}

.avg {
  padding-top: 2rem;
}

.avh {
  padding-top: 20rem;
}

.avi {
  padding-top: 7%;
}

.avj {
  padding-top: 1px;
}

.avk {
  text-align: left;
}

.avl {
  text-align: center;
}

.avm {
  text-align: right;
}

.avn {
  vertical-align: top;
}

.avo {
  vertical-align: middle;
}

.avp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.avq {
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-family: Inter var, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.avr {
  font-size: 1.5rem;
  line-height: 2rem;
}

.avs {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.avt {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.avu {
  font-size: 3rem;
  line-height: 1;
}

.avv {
  font-size: 3.75rem;
  line-height: 1;
}

.avw {
  font-size: .625rem;
}

.avx {
  font-size: .8125rem;
}

.avy {
  font-size: 1rem;
  line-height: 1.5rem;
}

.avz {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.awa {
  font-size: .875rem;
  line-height: 1.25rem;
}

.awb {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.awc {
  font-size: .75rem;
  line-height: 1rem;
}

.awd {
  font-weight: 700;
}

.awe {
  font-weight: 500;
}

.awf {
  font-weight: 400;
}

.awg {
  font-weight: 600;
}

.awh {
  text-transform: uppercase;
}

.awi {
  text-transform: capitalize;
}

.awj {
  font-style: italic;
}

.awk {
  font-style: normal;
}

.awl {
  --tw-numeric-spacing: tabular-nums;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}

.awm {
  line-height: 2.5rem;
}

.awn {
  line-height: 1rem;
}

.awo {
  line-height: 1.25rem;
}

.awp {
  line-height: 1.5rem;
}

.awq {
  line-height: 1.75rem;
}

.awr {
  line-height: 2rem;
}

.aws {
  line-height: 2.25rem;
}

.awt {
  line-height: 1;
}

.awu {
  line-height: 1.5;
}

.awv {
  line-height: 1.25;
}

.aww {
  letter-spacing: 0;
}

.awx {
  letter-spacing: -.025em;
}

.awy {
  letter-spacing: .025em;
}

.awz {
  --tw-text-opacity: 1;
  color: rgb(125 211 252 / var(--tw-text-opacity));
}

.axa {
  --tw-text-opacity: 1;
  color: rgb(191 219 254 / var(--tw-text-opacity));
}

.axb {
  --tw-text-opacity: 1;
  color: rgb(96 165 250 / var(--tw-text-opacity));
}

.axc {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

.axd {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

.axe {
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity));
}

.axf {
  --tw-text-opacity: 1;
  color: rgb(30 58 138 / var(--tw-text-opacity));
}

.axg {
  --tw-text-opacity: 1;
  color: rgb(207 250 254 / var(--tw-text-opacity));
}

.axh {
  --tw-text-opacity: 1;
  color: rgb(165 243 252 / var(--tw-text-opacity));
}

.axi {
  --tw-text-opacity: 1;
  color: rgb(8 145 178 / var(--tw-text-opacity));
}

.axj {
  --tw-text-opacity: 1;
  color: rgb(14 116 144 / var(--tw-text-opacity));
}

.axk {
  --tw-text-opacity: 1;
  color: rgb(21 94 117 / var(--tw-text-opacity));
}

.axl {
  --tw-text-opacity: 1;
  color: rgb(22 78 99 / var(--tw-text-opacity));
}

.axm {
  --tw-text-opacity: 1;
  color: rgb(110 231 183 / var(--tw-text-opacity));
}

.axn {
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
}

.axo {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.axp {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.axq {
  --tw-text-opacity: 1;
  color: rgb(249 250 251 / var(--tw-text-opacity));
}

.axr {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.axs {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.axt {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.axu {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

.axv {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.axw {
  --tw-text-opacity: 1;
  color: rgb(74 222 128 / var(--tw-text-opacity));
}

.axx {
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity));
}

.axy {
  --tw-text-opacity: 1;
  color: rgb(22 163 74 / var(--tw-text-opacity));
}

.axz {
  --tw-text-opacity: 1;
  color: rgb(21 128 61 / var(--tw-text-opacity));
}

.aya {
  --tw-text-opacity: 1;
  color: rgb(22 101 52 / var(--tw-text-opacity));
}

.ayb {
  --tw-text-opacity: 1;
  color: rgb(224 231 255 / var(--tw-text-opacity));
}

.ayc {
  --tw-text-opacity: 1;
  color: rgb(199 210 254 / var(--tw-text-opacity));
}

.ayd {
  --tw-text-opacity: 1;
  color: rgb(165 180 252 / var(--tw-text-opacity));
}

.aye {
  --tw-text-opacity: 1;
  color: rgb(129 140 248 / var(--tw-text-opacity));
}

.ayf {
  --tw-text-opacity: 1;
  color: rgb(238 242 255 / var(--tw-text-opacity));
}

.ayg {
  --tw-text-opacity: 1;
  color: rgb(99 102 241 / var(--tw-text-opacity));
}

.ayh {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

.ayi {
  --tw-text-opacity: 1;
  color: rgb(67 56 202 / var(--tw-text-opacity));
}

.ayj {
  --tw-text-opacity: 1;
  color: rgb(55 48 163 / var(--tw-text-opacity));
}

.ayk {
  --tw-text-opacity: 1;
  color: rgb(49 46 129 / var(--tw-text-opacity));
}

.ayl {
  --tw-text-opacity: 1;
  color: rgb(255 247 237 / var(--tw-text-opacity));
}

.aym {
  --tw-text-opacity: 1;
  color: rgb(249 115 22 / var(--tw-text-opacity));
}

.ayn {
  --tw-text-opacity: 1;
  color: rgb(234 88 12 / var(--tw-text-opacity));
}

.ayo {
  --tw-text-opacity: 1;
  color: rgb(194 65 12 / var(--tw-text-opacity));
}

.ayp {
  --tw-text-opacity: 1;
  color: rgb(124 45 18 / var(--tw-text-opacity));
}

.ayq {
  --tw-text-opacity: 1;
  color: rgb(244 114 182 / var(--tw-text-opacity));
}

.ayr {
  --tw-text-opacity: 1;
  color: rgb(236 72 153 / var(--tw-text-opacity));
}

.ays {
  --tw-text-opacity: 1;
  color: rgb(190 24 93 / var(--tw-text-opacity));
}

.ayt {
  --tw-text-opacity: 1;
  color: rgb(157 23 77 / var(--tw-text-opacity));
}

.ayu {
  --tw-text-opacity: 1;
  color: rgb(233 213 255 / var(--tw-text-opacity));
}

.ayv {
  --tw-text-opacity: 1;
  color: rgb(192 132 252 / var(--tw-text-opacity));
}

.ayw {
  --tw-text-opacity: 1;
  color: rgb(168 85 247 / var(--tw-text-opacity));
}

.ayx {
  --tw-text-opacity: 1;
  color: rgb(147 51 234 / var(--tw-text-opacity));
}

.ayy {
  --tw-text-opacity: 1;
  color: rgb(126 34 206 / var(--tw-text-opacity));
}

.ayz {
  --tw-text-opacity: 1;
  color: rgb(88 28 135 / var(--tw-text-opacity));
}

.aza {
  --tw-text-opacity: 1;
  color: rgb(248 113 113 / var(--tw-text-opacity));
}

.azb {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

.azc {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
}

.azd {
  --tw-text-opacity: 1;
  color: rgb(185 28 28 / var(--tw-text-opacity));
}

.aze {
  --tw-text-opacity: 1;
  color: rgb(153 27 27 / var(--tw-text-opacity));
}

.azf {
  --tw-text-opacity: 1;
  color: rgb(127 29 29 / var(--tw-text-opacity));
}

.azg {
  --tw-text-opacity: 1;
  color: rgb(255 228 230 / var(--tw-text-opacity));
}

.azh {
  --tw-text-opacity: 1;
  color: rgb(254 205 211 / var(--tw-text-opacity));
}

.azi {
  --tw-text-opacity: 1;
  color: rgb(251 113 133 / var(--tw-text-opacity));
}

.azj {
  --tw-text-opacity: 1;
  color: rgb(244 63 94 / var(--tw-text-opacity));
}

.azk {
  --tw-text-opacity: 1;
  color: rgb(225 29 72 / var(--tw-text-opacity));
}

.azl {
  --tw-text-opacity: 1;
  color: rgb(190 18 60 / var(--tw-text-opacity));
}

.azm {
  --tw-text-opacity: 1;
  color: rgb(224 242 254 / var(--tw-text-opacity));
}

.azn {
  --tw-text-opacity: 1;
  color: rgb(186 230 253 / var(--tw-text-opacity));
}

.azo {
  --tw-text-opacity: 1;
  color: rgb(2 132 199 / var(--tw-text-opacity));
}

.azp {
  --tw-text-opacity: 1;
  color: rgb(3 105 161 / var(--tw-text-opacity));
}

.azq {
  --tw-text-opacity: 1;
  color: rgb(12 74 110 / var(--tw-text-opacity));
}

.azr {
  --tw-text-opacity: 1;
  color: rgb(203 213 225 / var(--tw-text-opacity));
}

.azs {
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}

.azt {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

.azu {
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
}

.azv {
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
}

.azw {
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
}

.azx {
  --tw-text-opacity: 1;
  color: rgb(231 229 228 / var(--tw-text-opacity));
}

.azy {
  --tw-text-opacity: 1;
  color: rgb(168 162 158 / var(--tw-text-opacity));
}

.azz {
  --tw-text-opacity: 1;
  color: rgb(120 113 108 / var(--tw-text-opacity));
}

.baa {
  --tw-text-opacity: 1;
  color: rgb(68 64 60 / var(--tw-text-opacity));
}

.bab {
  --tw-text-opacity: 1;
  color: rgb(28 25 23 / var(--tw-text-opacity));
}

.bac {
  --tw-text-opacity: 1;
  color: rgb(153 246 228 / var(--tw-text-opacity));
}

.bad {
  --tw-text-opacity: 1;
  color: rgb(240 253 250 / var(--tw-text-opacity));
} */
